angr
basedpyright
beautifulsoup4
capstone
colorama
frida
frida-tools
gmpy2
impacket
lief
matplotlib
numpy
opencv-python
pandas
pillow
polars
pwntools
pycryptodome
pyelftools
pygments
PyQBDI
python-dotenv
python-magic
requests
rich
scapy
scipy
setuptools
sympy
unicorn
volatility3
yara-python
z3-solver
zstandard
