angr
basedpyright
beautifulsoup4
bitarray
capstone
colorama
cypari2
ecdsa
fastecdsa
fpylll
frida
frida-tools
galois
gmpy2
impacket
joblib
lief
llvmlite
matplotlib
more-itertools
mpmath
networkx
numba
numpy
opencv-python
pandas
pillow
polars
ptrlib
pulp
pwntools
py_ecc
pycryptodome
pyelftools
pygments
PyQBDI
python-dotenv
python-magic
requests
rich
rustworkx
scapy
scipy
setuptools
shapely
sortedcontainers
sympy
unicorn
volatility3
yara-python
z3-solver
zstandard
